{% load static %}
<html>
    <head>
        <title>Ask-A-Furry</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header class="container d-flex align-items-center justify-content-between border-bottom">
            <div class="d-flex flex-column col-1 m-2">
                <a href="/"><img src="{% static 'main_site/logo.png' %}" class="img-fluid" alt="Ask-A-Furry-Logo"></a>
            </div>
            <div class="d-flex flex-column">
                <p class="fs-1">Ask-A-Furry</p>
            </div>
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="form">
                    <i class="fa fa-search"></i>
                    {% csrf_token %}
                    <input type="text" class="form-control form-input" placeholder="Поиск по сайту">
                </div>
            </div>
            <ul class="d-flex flex-column list-group flex-md-row border-0 list-unstyled">
                <li><a class="list-group-item border-0" href="/ask">Задать вопрос</a></li>
                <li><a class="list-group-item border-0" href="/settings">Аккаунт</a></li>
                <li><a class="list-group-item border-0" href="/settings">Настройки</a></li>
                <li><a class="list-group-item border-0" href="/">Выход</a></li>
            </ul>
        </header>
        <main class="container">
            <div class="d-flex align-items-center">
            <div class="container col-8 align-items-center">
                {% block content %}
                {% endblock %}
            </div>
            <div class="container col-3">
                <div class="mt-2 mb-2 row d-flex align-items-center justify-content-between">
                        <p class="fs-4 border-bottom">Популярные тэги</p>
                        <div class="col d-flex align-items-center justify-content-around flex-wrap">
                            {% for tag in best_tags %}
                                <a class="m-1 d-flex fs-6" href="/">{{ tag }}</a>
                            {% endfor %}
                        </div>
                </div>
                <div class="mt-2 mb-2 row d-flex align-items-center justify-content-between">
                        <p class="fs-4 border-bottom">Лучшие участники</p>
                        <div class="col d-flex align-items-center justify-content-around flex-wrap">
                            {% for member in best_members %}
                                <a class="m-1 d-flex fs-6" href="/">{{ member }}</a>
                            {% endfor %}
                        </div>
                </div>
                </div>
             </div>

        </main>
        <footer class="container d-flex align-items-center justify-content-center border-top">
        <p class="d-flex flex-column">2023 Amon Studios</p>
        </footer>
    </body>
</html>

